.Sidebar {
  background-color: #00aa8d !important;
}

.Sidebar__Menu-Items {
  padding-top: 7.6rem;
}

.Sidebar__Menu-Item {
  color: white !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.Sidebar__Menu-Item:focus {
  background-color: rgba(0, 137, 117, 1) !important;
  border-left: 3px solid white !important;
  color: white !important;
}

.Sidebar__Menu-Item:hover {
  background-color: rgba(0, 137, 117, 1) !important;
}

.is-active {
  color: white;
}